
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inputs {
    margin: 5px;
    padding: 10px;
}

.grade-table {
    margin-top: 50px;
}

.grade-table table, .my-table table {
    width: 90%;
    border-collapse: collapse;
}

.grade-table th, .grade-table td, 
.my-table th, .my-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.grade-table th, .my-table th {
    background-color: #f4f4f4;
    font-weight: bold;
}

.container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 20px;
}

.my-table {
    margin-left: 15px;
}
.js-main-body {
    margin-bottom: 10px;
}

.js-delete{
    cursor: pointer;
}

.js-expected-gpa,.cGPA {
    display: inline-block;
}

.js-expected-gpa{
    font-weight: bold;
}

.js-module-name,.js-no-of-modules,.js-grade,.js-add-button{
    padding: 10px;
}